<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Vente</h4>
        <button class="button" (click)="add()"> Ajouter </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Désignation
              </th>
              <th>
                Quantité
              </th>
              <th>
                Prix HT
              </th>
              <th>
                Prix TTC
              </th>
              <th>
                Remise
              </th>


              <th>
                Total
              </th>
              <th>
                Mode de paiement
              </th>
              <th class="text-right">
                Date de Vente
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let vente of ventes">
                <td>
                  {{vente.id}}
                </td>
                <td>
                  {{vente.quantite}}
                </td>
                <td>
                  {{vente.prixHt}}
                </td>
                <td>
                  {{vente.prixTtc}}
                </td>
                <td>
                  {{vente.remise}}
                </td>
                <td>
                  {{vente.total}}
                </td>
                <td>
                  {{vente.paiement}}
                </td>
                <td class="text-right">
                  {{vente.date}}
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="ajouter" class="popup">
    <div class="popup-wrapper">
      <div class="x" (click)="add()">X</div>
      <div class="card-body">
        <h2 class="title">Ajouter Vente</h2>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="inputDésignation">Désignation</label>
            <input  class="form-control" type="text" class="form-control" name="Designation" required
              minlength="3" id="inputDésignation" formControlName="designation" placeholder="Désignation">
          </div>
          
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputQuantité">Quantité *</label>
              <input type="number" class="form-control" name="Quantité" required id="inputQuantité"
                placeholder="Quantité" formControlName="quantite">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPrixHT">Prix *</label>
              <input type="number" class="form-control" name="prixHt" required id="inputPrixHT" placeholder="PrixHt"
                formControlName="prixHt">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputprixTtc">Prix TTC *</label>
              <input type="number" class="form-control" name="prixTtc" required id="inputprixTtc"
                placeholder="Prix TTC" formControlName="prixTtc">
            </div>
            <div class="form-group col-md-6">
              <label for="inputremise">Remise *</label>
              <input type="number" class="form-control" name="remise" required id="inputremise" placeholder="Remise"
                formControlName="remise">
            </div>
          </div>
          <div class="form-group">
            <label for="inputmode">Mode de paiement</label>
            <input  class="form-control" type="text" class="form-control" name="paiement" required
              minlength="3" id="inputmode" formControlName="paiement" placeholder="Paiement">
          </div>
          <button type="submit" class="btn btn-primary">Ajouter</button>


        </form>
        <svg *ngIf="spinner" class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
          <path
            d="M304 48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zm0 416c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM48 304c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48zm464-48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM142.9 437c18.7-18.7 18.7-49.1 0-67.9s-49.1-18.7-67.9 0s-18.7 49.1 0 67.9s49.1 18.7 67.9 0zm0-294.2c18.7-18.7 18.7-49.1 0-67.9S93.7 56.2 75 75s-18.7 49.1 0 67.9s49.1 18.7 67.9 0zM369.1 437c18.7 18.7 49.1 18.7 67.9 0s18.7-49.1 0-67.9s-49.1-18.7-67.9 0s-18.7 49.1 0 67.9z" />
        </svg>
      </div>

    </div>
  </div>
</div>