<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Clients</h4>
        <button class="button" (click)="add()"> Ajouter </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Id Client
              </th>
              <th>
                Nom
              </th>
              <th>
                Prénom
              </th>
              <th>
                Adresse
              </th>
              <th>
                Code Postal
              </th>
              <th>
                Num tel
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let client of Clients">
                <td>
                  {{client.id}}
                </td>
                <td>
                  {{client.nom}}
                </td>
                <td>
                  {{client["prénom"]}}
                </td>
                <td>
                  {{client.adresse}}
                </td>
                <td>
                  {{client.codePostal}}
                </td>
                
                <td >
                  {{client.tel}}
                </td>
              </tr>



          </table>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="ajouter" class="popup">
    <div class="popup-wrapper">
      <div class="x" (click)="add()">X</div>
      <div class="card-body">
        <h2 class="title">Ajouter Client</h2>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="inputNom">Nom</label>
            <input class="form-control" type="text" class="form-control" name="nom" required minlength="3"
              id="inputNom" formControlName="nom" placeholder="Nom">
          </div>
          <div class="form-group">
            <label for="inputPrénom">Prénom</label>
            <input class="form-control" type="text" class="form-control" name="prénom" required minlength="3"
              id="inputPrénom" formControlName="prénom" placeholder="Prénom">
          </div>
          <div class="form-group">
            <label for="inputAdresse">Adresse</label>
            <input class="form-control" type="text" class="form-control" name="adresse" required minlength="3"
              id="inputAdresse" formControlName="adresse" placeholder="Adresse">
          </div>
          <div class="form-group">
            <label for="inputcodePostal">Code Postal</label>
            <input class="form-control" type="text" class="form-control" name="codePostal" required minlength="3"
              id="inputcodePostal" formControlName="codePostal" placeholder="Code Postal">
          </div>
          <div class="form-group">
            <label for="inputtel">N° de Telephone</label>
            <input class="form-control" type="number" class="form-control" name="tel" required 
              id="inputtel" formControlName="tel" placeholder="Telephone">
          </div>
          <button type="submit" class="btn btn-primary">Ajouter</button>


        </form>
        <svg *ngIf="spinner" class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
          <path
            d="M304 48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zm0 416c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM48 304c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48zm464-48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM142.9 437c18.7-18.7 18.7-49.1 0-67.9s-49.1-18.7-67.9 0s-18.7 49.1 0 67.9s49.1 18.7 67.9 0zm0-294.2c18.7-18.7 18.7-49.1 0-67.9S93.7 56.2 75 75s-18.7 49.1 0 67.9s49.1 18.7 67.9 0zM369.1 437c18.7 18.7 49.1 18.7 67.9 0s18.7-49.1 0-67.9s-49.1-18.7-67.9 0s-18.7 49.1 0 67.9z" />
        </svg>
      </div>

    </div>
  </div>
</div>